<!DOCTYPE html>
<html>
<head>
  <title>Image Gallery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-4">Image Gallery</h1>
    <div class="row">
      {% for image in images %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{ url_for('static', filename='images/' + image.filename) }}" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
              <a href="{{ url_for('download', filename=image.filename) }}" class="btn btn-primary" download>Download</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
