<!DOCTYPE html>
<html>
<head>
  <title>❤️‍🔥❤️‍🔥❤️‍🔥 Samantha World ❤️‍🔥❤️‍🔥❤️‍🔥</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1 class="mt-4">For Sam Lovers💖💖💖</h1>
    <div class="row">
      {% for image in images %}
        <div class="col-md-4">
          <div class="card mb-4">
            <img src="{{ url_for('static', filename='images/' + image.filename) }}" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
              <a href="{{ url_for('download', filename=image.filename) }}" class="btn btn-primary" download>Download</a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <nav aria-label="Image Pagination">
      <ul class="pagination">
        {% for page_num in range(1, num_pages + 1) %}
          <li class="page-item {% if page == page_num %}active{% endif %}">
            <a class="page-link" href="{{ url_for('index', page=page_num) }}">{{ page_num }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</body>
</html>
